---
import Site from "../layouts/Site.astro";
---

<Site>
  <main class="grid lg:grid-cols-4 lg:gap-10 p-10 h-full">
    <div class="flex flex-col">
      <div
        class="rounded-3xl drop-shadow-2xl prose bg-base-100 border-primary border-solid border-2 border-opacity-20 p-6"
      >
        <img src="logo-color-full.svg" class="mb-2 mt-0" />
        <h2 class="mt-0">Welcome! Ready to shorten some links?</h2>
        <form class="form-control space-y-2">
          <input
            type="text"
            placeholder="URL to shorten"
            class="input input-bordered focus:border-primary focus:outline-none"
            required
          />
          <div class="input-group">
            <input
              type="text"
              placeholder="Shortcode"
              class="input input-bordered flex-grow focus:border-primary focus:outline-none"
            />
            <button
              class="btn btn-outline border-white border-opacity-20 focus:border-opacity-75 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                ></path>
              </svg>
            </button>
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-outline btn-primary"
          />
        </form>
      </div>
      <div class="mt-auto">
        <a
          class="link link-primary link-hover"
          href="https://scstem.org"
          target="_blank">scstem.org</a
        >
      </div>
    </div>
    <div
      class="col-span-3 p-6 rounded-3xl drop-shadow-2xl overflow-auto bg-base-100 border-primary border-solid border-2 border-opacity-20"
    >
      <table class="table table-compact w-full">
        <thead>
          <tr>
            <th class="w-[15%]">Code</th>
            <th class="w-[60%]">URL</th>
            <th class="w-[15%]">Date Created</th>
            <th class="w-[10%]">Options</th>
          </tr>
        </thead>
      </table>
    </div>
  </main>
</Site>
