---
import Head from "../components/Head.astro";
import "../styles/base.css";
---

<html lang="en" data-theme="sc2">
  <Head />
  <body class="bg-[url('/topography.svg')] h-screen w-screen">
    <slot>Loading...</slot>
  </body>
</html>
